certifi==2019.9.11
gunicorn==19.9.0
chardet==3.0.4
Click==7.0
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
numpy==1.16.5
panda==0.3.1
requests==2.22.0
scikit-learn==0.20.4
scipy==1.2.2
urllib3==1.25.7
Werkzeug==0.16.0
wincertstore==0.2
